<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">The Arogya Sahiya system will be a mobile and web-based application that allows users to input and track their health-related data. The system will use machine learning algorithms to analyze user data and provide personalized health recommendations.
          </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Technologies</h6>
          <ul class="footer-links">
            <li><a href="#">HTML</a></li>
            <li><a href="#">Bootstrap/CSS</a></li>
            <li><a href="#">JavaScrip</a></li>
            <li><a href="#">Node.js</a></li>
            <li><a href="#">MongoDB</a></li>
            <li><a href="#">bcrypt</a></li>

          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Contributors</h6>
          <ul class="footer-links">
            <li><a href="https://www.linkedin.com/in/vivek-dev-shah-654521212/" target="_blank">Vivek Dev Shah</a></li>
            <li><a href="https://www.linkedin.com/in/ankit-singh-3b1b54216/" target="_blank">Ankit Singh</a></li>
            <li><a href="https://www.linkedin.com/in/mohit-yadav-0bb2a021b/" target="_blank">Mohit</a></li>
            <li><a href="https://www.linkedin.com/in/pranay-dhawale-408b9921b/" target="_blank">Pranay Dhawle</a></li>
            <li><a href="https://www.linkedin.com/in/anas-ali-aa1213213/" target="_blank">Anas Ali</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by V-SMART</p>
        </div>
      </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script type="text/javascript" src="/test/wp-content/themes/child/script/jquery.jcarousel.min.js"></script>
</body>
</html>