
<%- include("./partials/header", {title:title}) -%>

<header class="header-area">
  <div class="banner">
    <div class="container">
      <h1>AROGYA  SAHIYA</h1>
      <p>A Perfect Plateform to make you more Comfortable, Healthier, Happier.</p>
      <a href="#content" class="button button-primary ">More</a>
    </div>
  </div>
</header>

<!-- <main>
  <section id="content" class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p>The Arogya Sahiya application is a health and wellness management system designed to provide users with personalized health advice, fitness recommendations, and symptom tracking. The application's primary objective is to help users monitor and improve their health by providing them with real-time feedback based on their health data.</p>
        </div>
        <div class="col-md-4">
         <p>The Arogya Sahiya system will be a mobile and web-based application that allows users to input and track their health-related data. The application will comprise three components: a user interface, a database, and an API for communication with third-party systems. The system will use machine learning algorithms to analyze user data and provide personalized health recommendations.</p>
        </div>
        <div class="col-md-4">
          <p>The application will target individuals seeking health and wellness advice. The application will be designed to be accessible to users of all ages and health conditions. The system will also be accessible to healthcare professionals, who can access patient data and provide guidance and recommendations. The system will be designed to be user-friendly and intuitive.</p>
        </div>
      </div>
    </div>
  </section>
</main> -->

<main id="content" class="info-2">
  <section  class="container ">
      <div class="row">
        <div class="col-md-4">
          <h1 style="text-align: center;">Patient Admission & Recommonded Diagnosis</h1>
        </div>
        <div class="col-md-4">
          <h1 style="text-align: center;">Health Monitoring & Consultancy via Chatbot</h1>
          <p></p>
        </div>
        <div class="col-md-4">
          <h1 style="text-align: center;">Appointment Scheduling based on Doctor's Expertise</h1>
        </div>
      </div>
  </section>
</main>

<%- include("./partials/footer") -%>
