<%- include("./partials/header", {title:title}) -%>

<div class="pages wrapper fadeInDown">
    <img src="images/password.png" class="pass-img" id="icon" alt="User Icon" />
    <H1>Wrong Credentials</H1>
    <h3>Try again to login</h3>
    <a href="/login">Login</a>
</div>

<%- include("./partials/footer") -%>